.relocate {
    display: flex;
    justify-content: center;
    margin: 34px 0 0 0;
    &__create,
    &__login {
        font-size: 13px;
        font-weight: 400;
        line-height: 122%;
        color: #fff;
        margin: 0;
    }
    &__link {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: #1676f3;
        &:hover {
            color: #0666e4;
        }
    }
}
