.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 15px;
    border: 1px solid;
    border-color: var(--buttonConnect-border-color);
    border-radius: 4px;
    color: var(--buttonConnect-text-color);
    background-color: var(--buttonConnect-background-color);
    transition: all 0.35s linear;
    cursor: pointer;

    position: relative;

    &:disabled {
        border: 1px solid rgba($color: #ff0000, $alpha: 0.5);
        cursor: not-allowed;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    &:active {
        border: 1px solid rgba(#1676f3, 1);
    }
    :not(:last-child) {
        margin: 0 10px 0 0;
    }
}
