.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 15px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    color: #fff;
    border-radius: 4px;
    background-color: transparent;
    cursor: not-allowed;
    :not(:last-child) {
        margin: 0 10px 0 0;
    }
}