.form {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__label {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: #fff;
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }
    &__label-required {
        color: red;
        margin: 0 0 0 1px;
    }
    &__label--terms {
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 122%;
    }
    &__input {
        margin: 5px 0 0 0;
        border: 1px solid rgba(28, 55, 90, 0.16);
        border-radius: 3px;
        padding: 15px;
        color: rgba(27, 43, 65, 0.72);
        line-height: 22px;
        font-weight: 500;
        &::placeholder {
            color: rgba(27, 43, 65, 0.72);
        }
    }
    &__input--password {
        padding: 15px 45px 15px 15px;
    }
    &__icon-password {
        position: absolute;
        right: 1.3rem;
        top: 2.7rem;
    }
    &__input--checkbox {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        border: none;
        // opacity: 0;
        padding: 0;
        margin: 0;
        &:checked + .form__fake-checkbox {
            background-color: #1676f3;
        }
        &:checked + .form__fake-checkbox::before {
            opacity: 1;
        }
    }
    &__fake-checkbox {
        background-color: rgba(28, 55, 90, 0.16);
        border-radius: 4px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 0 10px 0 0;
        position: relative;
        transition: all 0.2s linear;
        &::before {
            content: url(../../assets/images/checkbox_icon.svg);
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.1s linear;
        }
    }
    &__button {
        padding: 18px 14px;
        background-color: #1676f3;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        transform: scale(1);
        transition: transform 0.35s linear;
        &:active {
            transform: scale(1.1);
        }
    }
    &__terms {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__terms-link {
        text-decoration: underline;
        color: #1676f3;
        &:hover {
            color: #0666e4;
        }
    }
    &__restore {
        font-size: 13px;
        font-weight: 600;
        line-height: 16.38px;
        color: #fff;
        margin: 0 0 0 10px;
        &:hover {
            cursor: not-allowed;
        }
    }
}
