.relocate {
    display: flex;
    justify-content: center;

    &__create,
    &__login {
        font-size: 13px;
        font-weight: 400;
        line-height: 122%;
        color: var(--relocate-text-color);
        margin: 0;
    }

    &__link {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: var(--link-text-color);

        &:hover {
            color: #0666e4;
        }
    }
}

.relocate.indent {
    margin: 34px 0 0 0;
}