.modal {
    position: fixed;
    display: block;
    cursor: grab;
    left: 0;
    top: 0;
    z-index: 5;
    &__wrapper {
        max-width: 500px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    &__body {
        overflow-y: scroll;
        min-height: 100px;
        height: 150px;
        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
    &__button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 5px 10px 5px;
        padding: 0;
        background-color: transparent;
        color: #fff;
        transition: all 0.15s linear;
        transform: scale(1);
        &:hover {
            color: red;
            transform: scale(1.1);
        }
    }
    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        animation: spin infinite 20s linear;
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
    &__title {
        margin: 0 0 10px 0;
        padding: 0 10px 0 0;
    }
}

.modal.hidden {
    height: 0;
    display: none;
    opacity: 0;
}
