.preloader {
    display: inline-block;
    &::after {
        content: "";
        display: block;
        width: 55px;
        height: 55px;
        margin: 8px;
        border-radius: 50%;
        border: 4px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: rings-rotate 1.2s linear infinite;
    }
}

@keyframes rings-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
