.header {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        :not(:last-child) {
            margin: 0 0 5px 0;
        }
        margin: 0 0 28px 0;
    }
    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 125.3%;
        text-align: center;
    }
    &__subtitle {
        font-weight: 400;
        line-height: 134%;
        margin: 0;
        text-align: center;
    }
    &__image {
        width: 168px;
        height: 92px;
        margin: 0 0 15px 0;
        object-fit: cover;
    }
}
