* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

html {
    background-color: #06123af0;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 28px;
    max-width: 392px;
    margin: 0 auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    &__preloader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
}

input {
    outline: none;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s;
        -webkit-text-fill-color: #fff !important;
    }
}
