* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #fff;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

.page {
    padding: 28px;
}

input {
    outline: none;
}