* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: #163aa8a1;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px;
    max-width: 392px;
    margin: 0 auto;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    outline: none;
}