html[data-theme="light"] {
    --buttonForm-background-color: #1676f3;
    --buttonForm-text-color: #fff;

    --buttonLogOut-text-color: #fff;
    --buttonLogOut-border-color: #fff;

    --buttonConnect-background-color: transparent;
    --buttonConnect-text-color: #fff;
    --buttonConnect-border-color: rgba(255, 255, 255, 0.726);
    --buttonConnect-border-color-disabled: rgba(255, 0, 0, 0.5);

    --label-text-color: #fff;

    --input-text-color: rgba(27, 43, 65, 0.72);
    --input-placeholder-color: rgba(27, 43, 65, 0.72);
    --input-err-color: red;

    --sectionMark-color: #fff;
    --restore-text-color: #fff;
    --relocate-text-color: #fff;
    --header-text-color: #fff;
    --link-text-color: #1676f3;

    --modal-text-color: #fff;
    --modal-background-color: rgba(0, 0, 0, 0.6);
    --modal-button-color: #fff;
}

